<form action="/tasks/add" method="POST">

  <div>
    <label for="title">Escribi:</label>
    <input type="text" name="title" placeholder="Titulo" />
  </div>

  <div>
    <label for="description">Escribi la descripcion:</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Descripcion"
    ></textarea>
  </div>

  <button>Agregar</button>
</form>